.mycontainer {
	margin: 30px;
}

#filter {
	/*background: lightblue;*/
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	margin-top: 20px;
	border: thin solid #CCC;
	-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
	display: block;
	width: 100%;
	font-size: 15px;
	text-align: center;
	position: relative;
}

#deletespan {
	margin-left: 10px;
	color: black;
}
#deletespan a {
	color: #B22222;
}

#navigation {
	/*margin-right: 100px;*/
	position:absolute;
	right:15px;
}

.publication {
	display: block;
}

.publication-options {
	font-size: 13px;
	margin-left: 10px;
}

.small {
	font-size: 15px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

/* Accordion */
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
/*    transition: 0.4s;*/
    margin-bottom: 10px;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    /*background-color: white;*/
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}