/* crc183 */
.mycontainer {
	margin-left: 150px;
        margin-right: 150px;
}

#filter {
	/*background: lightblue;*/
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	margin-top: 20px;
	/*border: thin solid #CCC;*/
	-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
	display: block;
	/*width: 100%;*/
	/*font-size: 15px;*/
	text-align: center;
	position: relative;
}

#deletespan {
	margin-left: 10px;
	color: black;
}

#navigation {
        display: block;
	margin-bottom: 20px;
        // font-size: 16px ;
        text-align: center;
	padding-left: 15px;
}

#navigation a {
        color: black;
}

.publication {
	display: block;
        line-height: 1.5;
        font-family: 'Open Sans', sans-serif;
}

.publication-options {
	font-size: 12px;
	margin-left: 10px;
}

.small {
	font-size: 13px;
}

.medium {
	font-size: 15px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

/* Accordion */
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #E4E3DD;
    color: #C1272D;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
/*    transition: 0.4s;*/
    margin-bottom: 10px;
    /*-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;*/
}

button.accordion:after {
    /* content: '\02795'; */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    /* content: "\2796"; */
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    /*background-color: white;*/
    display: none;
    line-height:1;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}

/* Publication links */

#pubp a, #updatepubp a {
	/*color: #13265D;*/
	color: black;
	font-family: 'Open Sans', sans-serif;
	text-decoration: inherit;
	font-weight: bold;
}

#pubp a:hover, #updatepubp a:hover {
	/*color: #13265D;*/
	color: black;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-weight: bold;
}

/* Project links */

a.A, a.A:active, a.A:focus, a.A:visited {
	/*color: #13265D;*/
	color: #00A99D;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

a.A:hover {
	/*color: #13265D;*/
	color: #00c6b6;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

a.B, a.B:active, a.B:focus, a.B:visited {
	/*color: #13265D;*/
	color: #9E005D;
	font-weight: 400;
        font-family: 'Open Sans', sans-serif;
}

a.B:hover {
	/*color: #13265D;*/
	color: #c4006f;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

a.C, a.C:active, a.C:focus, a.C:visited {
	/*color: #13265D;*/
	color: #F15A24;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

a.C:hover {
	/*color: #13265D;*/
	color: #ed7a57;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

a#showall, a#showall:active, a#showall:focus {
	color: #C1272D;
}

a#showall:hover {
	color: #d32c32;
}

/* Usual links */

a {
	/*color: #13265D;*/
	// color: #3C5499;
        color: #C1272D;
	font-family: 'Open Sans', sans-serif;
	text-decoration: inherit;
}

a:hover {
    /*color: #344B8E;*/
    color: #ce2b30;
    text-decoration: inherit;
}

a:active, a:focus {
    color: #C1272D;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    font-feature-settings: 'liga';
    color: black;
}

h2 {
	text-align: center;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 30px;
        color: #464646;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
}

#deletespan a, #deletespan a:visited, #deletespan a:active, #deletespan a:focus {
        color: #C1272D;
}

#deletespan a:hover {
    color: #ce2b30;
}

input { font-size: 14px; width: 300px; padding: 5px; }
textarea { font-size: 14px; width: 300px; padding: 5px; }
input[type="button"], input[type="submit"] { font-size: 14px; width: 100px; height: 30px; }
input[name="back"] {
	width: 200px;
}
